<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyAccessedAPIType</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>UserDefaults</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>CA92.1</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSMicrophoneUsageDescription</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>1C4.1</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSSpeechRecognitionUsageDescription</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>1C4.1</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
